@import "tailwindcss";

:root {
  --background: #06121e;
  --foreground-2: #171717;
  --foreground: #0a0a0a;
  --whitesmoke: var(--whitesmoke);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #06121e;
    --foreground: #fff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background: rgba(6, 18, 30, 0.9);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.header-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 15px 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

/* MENU DESKTOP */
.menu {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.menu a {
  color: #fff;
  font-size: 14px;
  transition: 0.3s;
}

.menu a:hover {
  color: #00d4ff;
}
header .contato-btn {
  color: #06121e;
}
header .contato-btn:hover {
  color: #06121e;
}
/* BOTÃO CTA */
.contato-btn {
  padding: 14px 24px;
  border-radius: 30px;
  color: #06121e;
  font-weight: 500;
  text-transform: uppercase;
  margin: 20px 0;
  background: linear-gradient(to right, #fff, rgb(32, 153, 187));
  transition: 0.3s;
  width: fit-content;
}

.contato-btn:hover {
  transform: scale(1.05);
}

/* HAMBURGER */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  z-index: 999;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: white;
  border-radius: 2px;
}

/* OVERLAY MOBILE */
.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 80vh;
  background: #06121e;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
  gap: 2rem;
  padding-left: 30px;
  transform: translateY(-100%);
  transition: 0.4s;
}

.mobile-menu.active {
  transform: translateY(0);
}

.mobile-menu a {
  color: white;
  font-size: 20px;
}

/* RESPONSIVO */
@media (max-width: 1020px) {
  .menu {
    display: none;
  }

  .hamburger {
    display: flex;
  }
}

/*HERO DA PAGINA*/
.hero {
  position: relative;
  height: 80vh;
  background: url("/hero-vidracaria.webp") top/cover no-repeat;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

/* OVERLAY ESCURO (ESSENCIAL PRA UX) */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(6, 18, 30, 0.7);
}

/* CONTEÚDO */
.hero-content {
  position: relative;
  z-index: 2;
  max-width: 1400px;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: white;
  margin: 0 auto;
}

.hero-content h1 {
  font-size: 2rem;
  line-height: 1.2;
  color: gold;
  font-weight: 700;
  text-transform: uppercase;
}

.hero-content p {
  margin: 20px 0;
  background: linear-gradient(to right, #fff, rgb(32, 153, 187));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.3rem;
  font-weight: 600;
}

.btn-primary {
  padding: 14px 24px;
  border-radius: 30px;
  color: #06121e;
  font-weight: 500;
  text-transform: uppercase;

  background: linear-gradient(to right, #fff, rgb(32, 153, 187));
}

.cta-button {
  padding: 14px 24px;
  border-radius: 30px;
  color: #06121e;
  font-weight: 500;
  text-transform: uppercase;
  margin: 20px 0;
  background: linear-gradient(to right, #fff, rgb(32, 153, 187));
}
.cta-button:hover {
  background-color: #ededed;
  color: #06121e;
  border: #06121e 2px solid;
}

/* BENEFÍCIOS */
.hero-benefits {
  display: flex;
  gap: 1rem;
  font-size: 1rem;
  font-weight: 600;
  background: linear-gradient(to right, #fff, rgb(32, 153, 187));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .hero {
    height: auto;
    padding: 120px 20px 60px;
  }

  .hero-content h1 {
    font-size: 2rem;
  }
  .container {
    padding: 20px;
  }
}

/*SERVIÇOS*/
.servicos .container {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.servicos h2 {
  color: gold;
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
}
.servicos .subtitle {
  text-align: center;
  font-size: 1.2rem;
}
.servicos-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.servicos-card {
  background: #0b1c2c;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.3s;
}

.servicos-card:hover {
  transform: translateY(-5px);
}

.servico-img {
  height: 200px;
  background-size: cover;
  background-position: center;
}

.servico-text {
  padding: 20px;
}

.servicos-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px 20px;
}
.saiba-mais {
  padding: 14px 24px;
  border-radius: 30px;
  background-color: #06121e;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}
